* {
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Roboto Mono', monospace;
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}


.sidebar {
    background-color: rgb(0, 180, 180);
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.side {
    display: inline-flex;
    gap: 10px;
    /* flex-wrap: wrap;
    justify-content: center; */
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-gap: 20px;
    font-weight: 600;
    color: white;
    padding-top: 30px;
    background-color: rgb(0, 180, 180);
    padding-left: 10px;
}


.header {
    display: grid;
    flex-direction: row;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: relative;
    box-shadow: 0px 2px 3px rgb(175, 175, 175);
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    padding-top: 10px;
    gap: 30%;
    align-items: center;
}
    
.top-right-header {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    gap: 20px;
}

.top-left-header {
    display:flex;
    flex-direction: row;
    gap: 10px;
}


.bottom-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-header-left {
    display: flex;
    flex-direction: column;
}

.bottom-header-left-inside{
    display: flex;
    flex-direction: column;
}

.header-right,
.header-left{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button {
    border-radius: 15px;
    background-color: rgba(4, 217, 255, 0.356);
    padding: 10px;
    font-weight: 600;
}

input::before {
    border-radius: 30px;
    border: none;
}

input {
    border-radius: 15px; 
    width: 45vw;
    max-width: 471px;
    padding-left: 15px;
    border: none;   
    box-shadow: 0 0 0 rgb(0, 0, 0.4);
}

.right {
    background-color: bisque;
    height: 100%;
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px 20px 40px 20px;
    max-height: 100%;
}

.cards {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;   
    /* grid-template-columns: 1fr 1fr; */
    /* align-items: center;
    gap: 10px; */
    /* justify-items: center; */
}

.card {
    display: flex;
    width: 48%;
    height: 180px;
    padding-left: 20px;
    border: 2px solid black;
    gap: 10px;
    padding: 8%; 
    border-radius: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 5px;
    min-width: 265px;
    box-shadow: 0px 2px 3px rgb(175, 175, 175);
    padding: 30px 20px 20px 20px;    
}

.projects {
    background-color: rgb(162, 233, 255);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-right: 20px;
}



.title {
    color: black;
    font-weight: 700;
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: lightseagreen;
    width: 20%;
    height: 200px;
    overflow: auto;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(245, 245, 245);
    padding-top: 50px;
    width: 100px;
    height: 200px;
    overflow: auto;
}

@media (max-width: 1200px) {
    .projects {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 320px 320px 400px;
        max-height: 100%;
        padding: 30px 20px 40px 20px;
    }
}